.navigation {
	height: 100%;
	width: 100%;
	max-width: 150px;
	background-color: #f5f5f5;
}

.navigation__container {
	padding: 15px;
}

.navigation__list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.navigation__link {
	padding: 5px 8px;
	border-radius: 7px;
	transition: all 0.3s ease 0s;
}

.navigation__link:hover {
	background-color: #e4e4e4;
	color: darkorange;
}